.particlesContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
}

.particle {
  position: absolute;

  background-color: var(--primary-color);

  border-radius: 50%;
  box-shadow: 0 0 10px 1px var(--primary-color);
}
